.modal-container {
  z-index: 10;
  background-color: white;
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: #555;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: flex-start;

  justify-items: left;

  padding-left: 8rem;
}

.modal-container__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  color: white;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #666;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.131);
  border: none;
  margin-top: 10rem;
}

.modal-container__back-button:hover {
  cursor: pointer;
  background-color: #888;
  transition: all 0.3s;
}

.modal-container__back-icon {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.modal-container__back {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.modal-container__img-container {
  margin-bottom: 8rem;
}

.modal-container__img {
  width: 50rem;
  height: 30rem;
}

.modal-container__right-side-container {
  justify-self: start;
  align-self: center;
  margin-bottom: 20rem;
}

.modal-container__grid-for-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 1rem;
}

.modal-container__header-three {
  font-size: 2.6rem;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: left;
  margin-bottom: 2rem;
}

.modal-container__category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.modal-container__description {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.4rem;
}

.modal-container__paragraph {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 1.4rem;
}

.modal-container__border-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
  margin-top: 1.4rem;
  max-width: 40rem;
}

.modal-container__name-description {
  font-family: "Raleway", sans-serif;
  color: white;

  font-size: 1.4rem;
}

.modal-container__border-name {
  background-color: #444;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 0.4rem;
}
