.nav {
  display: flex;
  position: sticky;
  top: -1px;
  z-index: 10;
  justify-content: space-between;
  padding: 1rem 6rem;
  align-items: center;
  background-color: white;
}

.nav__header {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 650px) {
  .nav {
    padding: 1rem 2rem;
  }
}

@media (max-width: 430px) {
  .nav__header {
    font-size: 2rem;
    width: 100%;
  }
}
